body {
  background-color: #fae3cc;
  font-family: 'Londrina Solid', cursive;
  padding: 0;
  margin: 0;
}

.wrapper {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 1.7rem;
  color: white;
}

a:hover {
  color: #af8600;
}

header {
  inset: 0;
  margin-bottom: 1px;
  width: 100%;
  height: 5em;
  background-color: #fae3cc;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  position: absolute;
  background-color: #fae3cc;
  border-radius: 3rem;
  left: 40%;
  top: -2em;
  padding: 3em 3em;
  padding-bottom: 0em;
}

header .logo .logo-text {
  font-family: 'Caveat Brush', cursive;
  font-size: 3rem;
  color: #d59518;
  margin-bottom: 0em;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  margin-right: 1em;
}

header ul .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul .user img {
  margin: 0;
  padding-right: 10px;
}

header ul .user a {
  border: 0.1rem solid;
  border-color: green;
  padding: 0.5em 0.5em;
  border-radius: 3rem;
  margin-right: 1em;
  padding-bottom: 0.2em;
}

header ul .register a {
  border: 0.1rem solid;
  border-color: rgb(255, 172, 47);
  padding: 0.5em 0.5em;
  border-radius: 3rem;
  margin-right: 1em;
  padding-bottom: 0.2em;
}

header ul .user a:hover {
  background-color: #77be6d;
  color: white;
}

header ul .register a:hover {
  background-color: rgb(255, 151, 76);
  color: white;
}

header ul .cart {
  margin-top: 12px;
  border-left: #5b4239 solid 0.1rem;
}

header ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #5b4239;
  padding: 0px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #5b4239;
  width: 100%;
  height: 4em;
  margin: auto;
  -webkit-box-align: centre;
      -ms-flex-align: centre;
          align-items: centre;
}

.main-nav nav {
  width: 100%;
}

.main-nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  padding-left: 0;
}

.main-nav ul .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-bottom: 2em;
  position: relative;
}

.main-nav ul .left a {
  margin: 0em 3em;
}

.main-nav ul .left a .home {
  position: absolute;
  top: -0.3em;
  margin-left: -1em;
}

.main-nav ul .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding-right: 3em;
}

.main-nav ul .right a {
  padding: 0em;
  margin: 0em 1.5em;
  margin-left: 4em;
}

.input-wrapper {
  background-color: white;
  margin: 1em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: centre;
      -ms-flex-align: centre;
          align-items: centre;
  width: 250px;
  height: 30px;
  border-radius: 3rem;
  padding: 5px;
}

.input-wrapper form input {
  margin-left: 8px;
  width: 80%;
  border: none;
  outline: none;
  opacity: 0.7;
  font-family: 'Londrina Solid', cursive;
  font-size: 1.2em;
}

.input-wrapper .search-bar-button {
  -webkit-box-align: centre;
      -ms-flex-align: centre;
          align-items: centre;
          padding-left: 10%;
          
}

.hero {
  position: absolute;
  background: url("../../images/main-homepage.png");
  background-size: cover;
  background-position: 50% 150%;
  width: 105%;
  height: 100vh;
}

.hero .hero-text {
  margin-left: 3em;
  margin-top: 3em;
}

.hero .hero-text .underline {
  position: absolute;
  top: 16em;
  left: 18em;
}

.hero .hero-text p {
  font-family: 'Londrina Solid', cursive;
  color: white;
  font-size: 4rem;
  margin: 0;
}

p{
	color: #5b4239;
}
/*# sourceMappingURL=index.css.map */